@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

html {
  scroll-snap-type: y mandatory;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.myNav {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  height: 2.5rem;
}

.myNav .navbar-brand {
  font-family: 'Righteous', cursive;
  font-size: 2rem;
}

.myNav ul li a{
  color: rgb(13, 110, 253);
}

.myNav ul li a:hover{
  color: rgb(25, 135, 84) !important;
}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(97, 97, 97);
}

header{
  scroll-snap-align: start;
}

.home-img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 55%;
}

.home-heading {
  font-family: 'Righteous', cursive;
  font-size: 3.8rem;
  text-align: center;
}

.home-info {
  font-size: 1.3rem;
  text-align: center;
}

.home-left-section {
  width: 40%;
  height: 100vh;
}

.home-left-section .btn {
  width: 150px;
  font-size: 1.3rem;
}

@keyframes animation-key1 {
  0% {
    left: 0;
    bottom: 70%;
  }

  100% {
    left: 35%;
    bottom: 0;
  }
}

@keyframes animation-key2 {
  from {
    transform: rotate(0deg) translateX(200px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(200px) rotate(-360deg);
  }
}

@keyframes animation-key3 {
  0% {
    left: 0;
    bottom: 0;
  }

  100% {
    left: 35%;
    bottom: 60%;
  }
}

.animation1 {
  width: 100px;
  height: 100px;
  background-color: hotpink;
  border-radius: 5px;
  opacity: 0.5;
  position: absolute;
  z-index: -1;
  animation: animation-key1 18s linear 0s infinite alternate;
}

.animation2 {
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 50%;
  opacity: 0.4;
  position: absolute;
  z-index: -1;
  bottom: 40%;
  left: 15%;
  animation: animation-key2 22s linear 0s infinite alternate;
}

.animation3 {
  width: 70px;
  height: 150px;
  background-color: blueviolet;
  border-radius: 5px;
  opacity: 0.4;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 20%;
  animation: animation-key3 20s linear 0s infinite alternate;
}

.forNavbar{
  width: 100%;
  height: 2.5rem;
  background-color: white;
}

#myCarousel{
  scroll-snap-align: start;
}

#myCarousel img {
  object-fit: cover;
  opacity: 0.7;
  height: 94.3vh;
}

#myHighlights{
  scroll-snap-align: start;
}

.highlights h1,
.about h1,
.contact h1,
.postContainer h1 {
  font-family: 'Righteous', cursive;
  font-size: 3.8rem;
  text-align: center;
  margin-top: 20px;
}

.highlights .main-highlights{
  max-width: 1100px;
}

.highlights .myHeaders {
  max-width: 700px;
  list-style: none;
  justify-content: space-between;
  margin: 30px auto 0;
}

.highlights .myHeaders a {
  text-decoration: none;
  color: #212529;
  padding: 10px;
  font-size: 1.3rem;
}

.highlights .myHeaders a:hover, .highlights .myHeaders .current-select {
  color: white;
  background-color: #0d6efd;
  border-radius: 10%;
  cursor: pointer;
}

.highlights .main-highlights div {
  width: 300px;
  height: 200px;
  border-radius: 10%;
  display: flex;
  align-items: center;
  margin: 30px 0;
  position: relative;
}

.highlights .main-highlights img {
  object-fit: cover;
  border-radius: 10%;
  position: absolute;
  z-index: 1;
}

.highlights .main-highlights .hoverEffect {
  z-index: -1;
}

.highlights .main-highlights h3 {
  width: 100%;
  height: 100%;
  background-color: rgb(13, 110, 253, 0.6);
  position: absolute;
  top: 0;
  border-radius: 10%;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.about{
  scroll-snap-align: start;
}

.about .card {
  width: 23rem;
  transition: all 1s;
  position: relative;
  padding-bottom: 30px;
  z-index: 1;
}

.about .card a {
  text-decoration: none;
  color: rgb(33, 37, 41);
}

.about .card:hover {
  transform: scale(1.2);
}

.about .card img{
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.about .card button{
  position: absolute;
  bottom: 0;
  left: 8.4rem;
  margin-bottom: 10px;
}

#myContact{
  scroll-snap-align: start;
}

.contact img {
  width: 600px;
}

.contact form {
  width: 450px;
}

.foot {
  padding: 7rem 0 2.2rem;
  scroll-snap-align: end;
}

.foot .bi-linkedin {
  color: #0274b3;
}

.foot .bi-twitter {
  color: #1DA1F2;
}

.foot .bi-facebook {
  color: #4267B2;
}

.foot img {
  width: 3.5rem;
}

.postContainer {
  max-width: 1200px;
  padding: 0 5px;
  margin: 0 auto;
  scroll-snap-align: start;
}

.postContainer img {
  border: 20px solid transparent;
  border-image: url("./images/border.png") 30 round;
  width: 75%;
}